
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Kategori Girişi</h2>


<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />
    <button class="btn btn-info">Kategoriyi Kaydet</button>
</form>


