
@{
    Layout = null;
}

<h3>Merhaba Dünya</h3>

<h4>DEvFolio Projesi</h4>

<div style="background-color:cadetblue"> Burası bir divdir.</div>
<br />
<div style="background-color:red">Burası 2.div alanıdır.</div>
<br />
<a href="http://www.google.com">Google'a git'</a>
<hr />
<a href="http://www.mynet.com">Mynet Sitesi</a>
