@model DevFolio2.Models.TblCategory

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori Güncelle</h2>


<form method="post">
    <input hidden type="text" class="form-control" name="CategoryID" value="@Model.CategoryID" />
    <br />
    <label>Kategori Başlığı</label>
    <input type="text" class="form-control" name="CategoryName" value="@Model.CategoryName" />
    <br />
    <button class="btn btn-warning">Hizmeti Güncelle</button>

</form>