
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Sosyal Medya Girişi</h2>


<form method="post">
    <label>Sosyal Medya İsmi</label>
    <input type="text" class="form-control" name="PlatformName" />
    <br />
    <label>Sosyal Medya İkon Url</label>
    <input type="text" class="form-control" name="IconUrl" />
    <br />
    <label>Sosyal Medya Url</label>
    <input type="text" class="form-control" name="RedirectUrl" />
    <br />
    <label>Durum</label>
    <input type="text" class="form-control" name="Status" />
    <br />
    <button class="btn btn-info">Sosyal Medyayı Kaydet</button>
</form>


