@model List<DevFolio2.Models.TblSocialMedia>

@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaID</td>
            <td>@item.PlatformName</td>
            <td>@item.Status</td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/SocialMedia/CreateSocialMedia" class="btn btn-info">Yeni Sosyal Medya Girişi</a>