@model List<DevFolio2.Models.TblProfile>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="about-img">
                <img src="/Templates/devfolio-master/img/1694548010920.jfif" class="img-fluid rounded b-shadow-a" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-md-8">
            <div class="about-info">
                <p><span class="title-s">Ad Soyad: </span> <span>@item.NameSurname</span></p>
                <p><span class="title-s">Ünvan: </span> <span>@item.Title</span></p>
                <p><span class="title-s">Email: </span> <span>@item.Email</span></p>
                <p><span class="title-s">Telefon: </span> <span>@item.Phone</span></p>
            </div>
        </div>
    </div>
}