@model List<DevFolio2.Models.TblProject>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="work-box">
                <a href="/Templates/devfolio-master/img/work-1.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                        <img src="/Templates/devfolio-master/img/work-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">@item.ProjectTitle</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">@item.TblCategory.CategoryName</span> / <span class="w-date">@(((DateTime)item.CreateDate).ToString("dd MMM yyyy"))</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <span class="ion-ios-plus-outline"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>