@model List<DevFolio2.Models.TblService>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="service-box">
            <div class="service-ico">
                <span class="ico-circle"><i class="@item.ServiceImageUrl"></i></span>
            </div>
            <div class="service-content">
                <h2 class="s-title">@item.ServiceTitle</h2>
                <p class="s-description text-center">
                    @item.Description
                </p>
            </div>
        </div>
    </div>
}