
<head>
    <meta charset="utf-8">
    <title>DevFolio Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Templates/devfolio-master/img/favicon.png" rel="icon">
    <link href="~/Templates/devfolio-master/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="~/Templates/devfolio-master/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Templates/devfolio-master/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio-master/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio-master/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio-master/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio-master/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Templates/devfolio-master/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
