
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="#">Portfolyo</a></li>
            <li><a href="/Project/CreateProject/">Hakkımda</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="#">İstatistikler</a></li>
            <li><a href="/Project/Index/">Projeler</a></li>
            <li><a href="#">İletişim Bilgileri</a></li>
            <li><a href="#">Gelen Mesajları</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                <br />
                Tüm hakları saklıdır
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>