
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/devfolio-master/img/2.png");"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/About/About/">Hakkımda</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Statistic/Index/">İstatistikler</a></li>
            <li><a href="/Project/ProjectList/">Projeler</a></li>
            <li><a href="/Category/CategoryList/">Kategoriler</a></li>
            <li><a href="/Address/AddressInfo">İletişim Bilgileri</a></li>
            <li><a href="/Contact/MessageList">Gelen Mesajlar</a></li>
            <li><a href="/Skill/SkillList">Yetenekler</a></li>
            <li><a href="/Profile/ProfileList">Profil</a></li>
            <li><a href="/Feature/FeatureList">Özellik</a></li>
            <li><a href="/SocialMedia/SocialMediaList">Sosyal Medyalarım</a></li>
            <li><a href="/Testimonial/Testimonial">Referanslarım</a></li>
            @*
            <li><a href="#">Ayarlar</a></li>*@
            <li><a href="/Admin/Login">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                <br />
                Tüm hakları saklıdır
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>