
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Yetenek Girişi</h2>

<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" class="form-control" name="SkillTitle"/>
    <br/>
    <label>Yetenek Değeri</label>
    <input type="text" class="form-control" name="SkillValue" />
    <br/>
    <button class="btn btn-info">Yeteneği Kaydet</button>
</form>

