
@{
    Layout = null;
}

<div style="margin-left:100px; background-color:yellow;margin-right:100px;">
    <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız Soyadınız</label>
    <input type="text" />
    <br />
    <label>Mail Adresiniz</label>
    <input type="email" />
    <br />
    <label>Mesaj Konusu</label>
    <input type="text" />
    <br />
    <label>Mesajınız</label>
    <textarea rows=12></textarea>
    <br />
    <button>Mesajı Gönder</button>
</div>