
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Mesaj No</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesajı Aç</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Murat Sağlam</td>
            <td>Teşekkür</td>
            <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kemal Kibar</td>
            <td>Şikayet</td>
            <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>
    </table>
</div>