
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<div class="container">
    <h3>Yei Mesaj Sayfası</h3>
    <br />
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>Email</label>
    <input type="email" class="form-control" />
    <br />
    <label>Mesaj Konusu</label>
    <input type="text" class="form-control" />
    <br />
    <label>Mesajınız</label>
    <textarea rows="5" " class="form-control"></textarea>
    <br />
    <button class="btn btn-primary">Mesajı Gönder</button>
    <button class="btn btn-danger">Vazgeç</button>
</div>