@model List<DevFolio2.Models.TblAddress>

@{
    ViewBag.Title = "AddressInfo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Adres Bilgisi</h2>

<h4>Adres Bilgisi</h4>
<h6>@Model[0].Description</h6>

<h4>Adres</h4>
<h6>@Model[0].Location</h6>

<h4>Telefon</h4>
<h6>@Model[0].PhoneNumber</h6>

<h4>Email</h4>
<h6>@Model[0].Email</h6>

<a href="/Address/UpdateAddress/@Model[0].AddressID" class="btn btn-success">Güncelle</a>

