@model List<DevFolio2.Models.TblAddress>

@{
    ViewBag.Title = "AddressInfo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Adres Bilgisi</h2>

<h5>Adres İsmi</h5>
<h6>@Model[0].Description</h6>

<h5>Adres</h5>
<h6>@Model[0].Location</h6>

<h5>Telefon</h5>
<h6>@Model[0].PhoneNumber</h6>

<h5>Email</h5>
<h6>@Model[0].Email</h6>

<a href="/Address/UpdateAddress/@Model[0].AddressID" class="btn btn-success">Güncelle</a>

