
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Hizmet Girişi</h2>


<form method="post">
    <label>Hizmet Adı</label>
    <input type="text" class="form-control" name="ServiceTitle" />
    <br />
    <button class="btn btn-info">Hizmeti Kaydet</button>
</form>


