
@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmetler Listesi</h2>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mobil Geliştirme</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Wep Geliştirme</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>
</table>