
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Özellik Ekleme</h2>


<form method="post">
    <label>Özellik Adı</label>
    <input type="text" class="form-control" name="HeaderTitle" />
    <br />
    <label>Özellik Açıklaması</label>
    <input type="text" class="form-control" name="HeaderDescription" />
    <br />
    <button class="btn btn-info">Yeteneği Kaydet</button>
</form>

