@model List<DevFolio2.Models.TblAbout>


@{
    ViewBag.Title = "About";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>About</h2>
<a href="/About/UpdateAbout/@Model[0].AboutID" class="btn btn-success">Güncelle</a>
<h6>@Model[0].Description</h6>