@model DevFolio2.Models.TblAbout

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Güncelle</h2>

<form method="post">
    <input hidden type="text" class="form-control" name="AboutID" value="@Model.AboutID" />
    <br />
    <textarea type="text" rows="5" class="form-control" name="Description">@Model.Description</textarea>
    <br />
    <button class="btn btn-warning">Hakkımda Güncelle</button>

</form>