
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Proje Oluşturma Sayfası</h2>

<label>Proje Başlığı</label>
<input type="text" class="form-control" />
<br />


<label>Proje Kategorisi</label>
<input type="text" class="form-control" />
<br />
<label>Proje Açıklaması</label>
<textarea rows="5" class="form-control" ></textarea>
<br />
<button class="btn btn-info">Projeyi Kaydet</button>
