
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projeler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Proje Başlığı</th>
        <th>Kategori</th>
        <th>Github'da Aç</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Crm Yazılımı</td>
        <td>Masaüstü Uygulama</td>
        <td><a href="#" class="btn btn-warning">Github'da Aç</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>ToDoList App</td>
        <td>Mobil Uygulama</td>
        <td><a href="#" class="btn btn-warning">Github'da Aç</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Büyük Veri Analizi</td>
        <td>Makine Öğrenmesi</td>
        <td><a href="#" class="btn btn-warning">Github'da Aç</a></td>
    </tr>
</table>