@model DevFolio2.Models.TblProject

@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Güncelle</h2>

<form method="post">
    <label>Project Id</label>
    <input type="text" class="form-control" name="ProjectID" value="@Model.ProjectID" />
    <br />
    <label>Proje Başlığı</label>
    <input type="text" class="form-control" name="ProjectTitle" value="@Model.ProjectTitle" />
    <br />
    <label>Proje Tarihi</label>
    <input type="text" class="form-control" name="CreateDate" value="@Model.CreateDate" />
    <br />
    <label>Proje Kategorisi</label>
    <input type="text" class="form-control" name="ProjectCategory" value="@Model.ProjectCategory" />
    <br />
    <button class="btn btn-warning">Projeyi Güncelle</button>
</form>